{% extends 'layout/base.html' %}
{% load static %}

{% block style_header %}{% endblock %}

{% block container_body %}
<h1 class="h3 mb-4 text-gray-800">Customer</h1>
<div class="row">
    <div class="col-lg-12">

      <!-- Circle Buttons -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Customer Detail</h6>
        </div>
        <div class="card-body">
            <form class="user" method="post" action="">
                {% csrf_token %}

                {% for field in form %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">{{ field.label_tag }}</label>
                        {{ field }}
                    </div>

                {% endfor %}



                <hr>
                <button type="submit" class="btn btn-primary float-right">Submit</button>
            </form>
        </div>
      </div>


    </div>

</div>

{% endblock %}


{% block script_footer %}{% endblock %}